<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柱状图</title>
    <link rel="stylesheet"type="text/style" href="../dist/css/bar.min.css"/>
</head>
<body>
    <div class="histogram_container" id="histogram_container">
        <!-- 背景方格 -->
        <div class="histogram_bg_line">
            <ul>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
            </ul>
            <ul>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
            </ul>
            <ul>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div>完全符合</div></li>
            </ul>
            <ul>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div>基本符合</div></li>
            </ul>
            <ul>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div>不符合</div></li>
            </ul>
            <ul>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
            </ul>
            <ul>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
            </ul>
            <ul>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
                <li><div></div></li>
            </ul>
        </div>
        <!-- 柱状条 -->
        <div class="histogram_content">
            <ul>
                <li>
                    <span class="histogram_box"><a href="#" class="aOne"></a></span>
                    <span class="name"></span>            
                    <span class="histogram_box"><a href="#" class="aTwo"></a></span>
                    <span class="name"></span>            
                </li>
                <li>
                    <span class="histogram_box"><a href="#" class="aOne"></a></span>
                    <span class="name"></span>
                    <span class="histogram_box"><a href="#" class="aTwo"></a></span>
                    <span class="name"></span>
                </li>
                <li>
                    <span class="histogram_box"><a href="#" class="aOne"></a></span>
                    <span class="name"></span>
                    <span class="histogram_box"><a href="#" class="aTwo"></a></span>
                    <span class="name"></span>
                </li>
                <li>
                    <span class="histogram_box"><a href="#" class="aOne"></a></span>
                    <span class="name"></span>
                    <span class="histogram_box"><a href="#" class="aTwo"></a></span>
                    <span class="name"></span>
                </li>
                <li>
                    <span class="histogram_box"><a href="#" class="aOne"></a></span>
                    <span class="name"></span>
                    <span class="histogram_box"><a href="#" class="aTwo"></a></span>
                    <span class="name"></span>
                </li>
            </ul>
        </div>
        <!--百分比 y轴-->
        <div class="histogram_y">
            <ul>
                <li>16.00</li>
                <li>14.00</li>
                <li>12.00</li>
                <li>10.00</li>
                <li>8.00</li>
                <li>4.00</li>
                <li>2.00</li>
                <li>0.00</li>
            </ul>
        </div>
    </div>
</body>
</html>